.loginCard{
  text-align: center;
  margin:140px 100px 12px;
}

.container{
  width:50%;
  padding : 20px 20px;
  text-align: left;
  background-color:rgb(255, 255, 255);
}
.container label{
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
  font-family: 'Prompt', sans-serif;
  padding: 10px 10px;
  font-size:17px
}

.container button{
  margin-top:20px;
  width:100%;
  padding : 10px 10px;

}

.container input{
  border-color: black;
}

